
<div class="spacing"></div>

<span [@fadeInOut] class="section-title text-primary mb-3 mb-sm-4">{{ ts.getJson('title') }}</span>
            
<div [@fadeInOut] class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
        <span class="display-26 text-secondary me-2 font-weight-600">{{ ts.getJson('masterschool.institution') }}</span>
        <div class="subheading mb-3">{{ ts.getJson('masterschool.degree') }}</div>
        <div>{{ ts.getJson('masterschool.program') }}</div>
    </div>
    <div class="flex-shrink-0"><span class="text-primary">{{ ts.getJson('masterschool.date') }}</span></div>
</div>

<div [@fadeInOut] class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
        <span class="display-26 text-secondary me-2 font-weight-600">{{ ts.getJson('boku.institution') }}</span>
        <div class="subheading mb-3">{{ ts.getJson('boku.degree') }}</div>
        <div>{{ ts.getJson('boku.program') }}</div>
    </div>
    <div class="flex-shrink-0"><span class="text-primary">{{ ts.getJson('boku.date') }}</span></div>
</div>

<div [@fadeInOut] class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
        <span class="display-26 text-secondary me-2 font-weight-600">{{ ts.getJson('school.institution') }}</span>
        <div class="subheading mb-3">{{ ts.getJson('school.degree') }}</div>
        <div>{{ ts.getJson('school.program') }}</div>
    </div>
    <div class="flex-shrink-0"><span class="text-primary">{{ ts.getJson('school.date') }}</span></div>
</div>

