<!-- <div class="spacing"></div>

<div [@fadeInOut] class="row align-items-center" fxLayout="row">

    <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
        <img src="/assets/images/profilepicture-transparent.PNG" style="width:100%">
    </div>
    <div  fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
        <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded" style="width:100%">
            <h3 class="h2 text-white mb-0">Ferdinand Dreyer</h3>
            <span class="text-primary">{{ ts.getJson('personal.position.value') }}</span>
        </div>
        <ul class="list-unstyled mb-1-9">
            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">{{ ts.getJson('personal.position.property') }}:</span>{{ ts.getJson('personal.position.value') }}</li>
            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">{{ ts.getJson('personal.experience.property') }}:</span>{{ ts.getJson('personal.experience.value') }}</li>
            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">{{ ts.getJson('personal.age.property') }}:</span>{{ ts.getJson('personal.age.value') }}</li>
            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">{{ ts.getJson('personal.place_of_birth.property') }}:</span>{{ ts.getJson('personal.place_of_birth.value') }}</li>
            <li class="display-28"><span class="display-26 text-secondary me-2 font-weight-600">{{ ts.getJson('personal.languages.property') }}:</span>{{ ts.getJson('personal.languages.value') }}</li>
        </ul>
        
    </div>
</div>
<div [@fadeInOut] style="margin-top: 20px;">
    <span class="section-title text-primary mb-3 mb-sm-4">{{ ts.getJson('title') }}</span>
    <p>{{ ts.getJson('description.1') }}</p>
    <p>{{ ts.getJson('description.2') }}</p>
    <p>{{ ts.getJson('description.3') }}</p>
    <p>{{ ts.getJson('description.4') }}</p>
    <p>{{ ts.getJson('description.5') }}</p>
    <p>{{ ts.getJson('description.6') }}</p>
    <p>{{ ts.getJson('description.7') }}</p>
    <p>{{ ts.getJson('description.8') }}</p>
</div>
           
 -->

<div class="spacing"></div>

<div [@fadeInOut] class="row align-items-center" fxLayout="row">

    <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
        <img src="/assets/images/profilepicture-transparent.PNG" style="width:100%">
    </div>
    <div  fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
        <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded" style="width:100%">
            <h3 class="h2 text-white mb-0">Ferdinand Dreyer</h3>
            <span class="text-primary">{{ ts.getJson('personal.position.value') }}</span>
        </div>
        <ul class="list-unstyled mb-1-9">
            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">{{ ts.getJson('about.personal.position.property') }}:</span>{{ ts.getJson('about.personal.position.value') }}</li>
            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">{{ ts.getJson('about.personal.experience.property') }}:</span>{{ ts.getJson('about.personal.experience.value') }}</li>
            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">{{ ts.getJson('about.personal.age.property') }}:</span>{{ ts.getJson('about.personal.age.value') }}</li>
            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">{{ ts.getJson('about.personal.place_of_birth.property') }}:</span>{{ ts.getJson('about.personal.place_of_birth.value') }}</li>
            <li class="display-28"><span class="display-26 text-secondary me-2 font-weight-600">{{ ts.getJson('about.personal.languages.property') }}:</span>{{ ts.getJson('about.personal.languages.value') }}</li>
        </ul>
        
    </div>
</div>
<div [@fadeInOut] style="margin-top: 20px;">
    <span class="section-title text-primary mb-3 mb-sm-4">{{ ts.getJson('about.title') }}</span>
    <p>{{ ts.getJson('about.description.1') }}</p>
    <p>{{ ts.getJson('about.description.2') }}</p>
    <p>{{ ts.getJson('about.description.3') }}</p>
    <p>{{ ts.getJson('about.description.4') }}</p>
    <p>{{ ts.getJson('about.description.5') }}</p>
    <p>{{ ts.getJson('about.description.6') }}</p>
    <p>{{ ts.getJson('about.description.7') }}</p>
    <p>{{ ts.getJson('about.description.8') }}</p>
</div>
           


