
<div class="spacing"></div>

<span [@fadeInOut] class="section-title text-primary mb-3 mb-sm-4">{{ ts.getJson('experience.title') }}</span>
<div [@fadeInOut] class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
    <span class="display-26 text-secondary me-2 font-weight-600">{{ ts.getJson('experience.semotec.company') }}</span>
    <div class="subheading mb-3">{{ ts.getJson('experience.semotec.job') }}</div>
    <div class="subheading mb-3">{{ ts.getJson('experience.semotec.task.1') }}</div>
    <div class="subheading mb-3">{{ ts.getJson('experience.semotec.task.2') }}</div>
    <div class="subheading mb-3">{{ ts.getJson('experience.semotec.task.3') }}</div>
    <div class="subheading mb-3">{{ ts.getJson('experience.semotec.task.4') }}</div>
    <div class="subheading mb-3">{{ ts.getJson('experience.semotec.task.5') }}</div>
    <div class="subheading mb-3">{{ ts.getJson('experience.semotec.task.6') }}</div>
    </div>
    <div class="flex-shrink-0"><span class="text-primary">{{ ts.getJson('experience.semotec.date') }}</span></div>
</div>


<!-- 


<div class="spacing"></div>

<span [@fadeInOut] class="section-title text-primary mb-3 mb-sm-4">{{ ts.getJson('title') }}</span>
<div [@fadeInOut] class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
    <span class="display-26 text-secondary me-2 font-weight-600">{{ ts.getJson('semotec.company') }}</span>
    <div class="subheading mb-3">{{ ts.getJson('semotec.job') }}</div>
    <div class="subheading mb-3">{{ ts.getJson('semotec.task.1') }}</div>
    <div class="subheading mb-3">{{ ts.getJson('semotec.task.2') }}</div>
    <div class="subheading mb-3">{{ ts.getJson('semotec.task.3') }}</div>
    <div class="subheading mb-3">{{ ts.getJson('semotec.task.4') }}</div>
    <div class="subheading mb-3">{{ ts.getJson('semotec.task.5') }}</div>
    <div class="subheading mb-3">{{ ts.getJson('semotec.task.6') }}</div>
    </div>
    <div class="flex-shrink-0"><span class="text-primary">{{ ts.getJson('semotec.date') }}</span></div>
</div> -->
