
<div class="spacing"></div>

<span [@fadeInOut] class="section-title text-primary mb-3 mb-sm-4">Skills</span>
<div [@fadeInOut] class="skill-assessment">
    <div class="progress-text">
        <div fxLayout="row">
        <div fxFlex="50%"><img src="/assets/images/angular.png" class="tech-logo"></div>
        <div fxFlex="50%"class="text-end">90%</div>
        </div>
    </div>
    <div class="custom-progress progress progress-medium mb-3" style="height: 4px;">
        <div class="animated custom-bar progress-bar slideInLeft bg-secondary" style="width:90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="10" role="progressbar"></div>
    </div>
</div>
<div [@fadeInOut] class="skill-assessment">
    <div class="progress-text">
        <div class="row">
        <div class="col-6"><img src="/assets/images/html-css.png" class="tech-logo"></div>
        <div class="col-6 text-end">80%</div>
        </div>
    </div>
    <div class="custom-progress progress progress-medium mb-3" style="height: 4px;">
        <div class="animated custom-bar progress-bar slideInLeft bg-secondary" style="width:80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar"></div>
    </div>
</div>
<div [@fadeInOut] class="skill-assessment">
    <div class="progress-text">
        <div fxLayout="row">
            <div fxFlex="50%"><img src="/assets/images/js.png" class="tech-logo"></div>
            <div fxFlex="50%" class="text-end">85%</div>
        </div>
    </div>
    <div class="custom-progress progress progress-medium mb-3" style="height: 4px;">
        <div class="animated custom-bar progress-bar slideInLeft bg-secondary" style="width:85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar"></div>
    </div>
</div>
<div [@fadeInOut] class="skill-assessment">
    <div class="progress-text">
        <div fxLayout="row">
            <div fxFlex="50%"><img src="/assets/images/ts.png" class="tech-logo"></div>
        <div fxFlex="50%" class="text-end">75%</div>
        </div>
    </div>
    <div class="custom-progress progress progress-medium" style="height: 4px;">
        <div class="animated custom-bar progress-bar slideInLeft bg-secondary" style="width:75%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar"></div>
    </div>
</div>
<div [@fadeInOut] class="skill-assessment">
    <div class="progress-text">
        <div fxLayout="row">
            <div fxFlex="50%"><img src="/assets/images/python.png" class="tech-logo"></div>
        <div fxFlex="50%" class="text-end">85%</div>
        </div>
    </div>
    <div class="custom-progress progress progress-medium" style="height: 4px;">
        <div class="animated custom-bar progress-bar slideInLeft bg-secondary" style="width:85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar"></div>
    </div>
</div>
<div [@fadeInOut] class="skill-assessment">
    <div class="progress-text">
        <div fxLayout="row">
            <div fxFlex="50%"><img src="/assets/images/csharp.png" class="tech-logo"></div>
        <div fxFlex="50%" class="text-end">75%</div>
        </div>
    </div>
    <div class="custom-progress progress progress-medium" style="height: 4px;">
        <div class="animated custom-bar progress-bar slideInLeft bg-secondary" style="width:75%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar"></div>
    </div>
</div>
<div [@fadeInOut] class="skill-assessment">
    <div class="progress-text">
        <div fxLayout="row">
            <div fxFlex="50%"><img src="/assets/images/my-sql.png" class="tech-logo"></div>
        <div fxFlex="50%" class="text-end">70%</div>
        </div>
    </div>
    <div class="custom-progress progress progress-medium" style="height: 4px;">
        <div class="animated custom-bar progress-bar slideInLeft bg-secondary" style="width:70%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar"></div>
    </div>
</div>        
